.wraper
%header
  = render "products/header"

%main.l-main.box
  .l-content
    %section.l-content-box
      %h2.l-content-head 支払い方法
      .l-single-inner
        %section
          .l-single-content
            %h3.l-content-sub-head クレジットカード一覧
          %ul.settings-payment-list
        %section.settings-add-card
          .l-single-content
            %a.btn-default.btn-red.submit_button{:href => ""}
              %i.icon-card>
              クレジットカードを追加する
        .settings-not-regist
          %a{:href => "/jp/help_center/category/6/", :target => "_blank"}
            %span 支払い方法について
            %i.icon-arrow-right

  %aside
    = render "user_aside"
%footer
  = render "products/footer"