%body
  
  %header
    = render "products/top_header"
  .wraper
  %main.l-main.box
    .l-content
      .l-content__form
        %form{action: "https://"}
          .l-content__logout
            %button.btn-default.btn-red{type: "submit"} ログアウト
    %aside.side
      = render "user_aside"
  %footer
    = render "products/top_footer"
    