%body
  
  .wraper
  %main.l-main.box
    .l-content
      .l-content__form
        %form{:action => "https://"}
          .l-content__logout
            %button.btn-default.btn-red{:type => "submit"} ログアウト
    %aside.side
      = render "user_aside"
  %a.footer-sell-btn{:href => ""}
    %div 出品
    %div ボタン
    %div 仮置き
    