%header
    = render "products/top_header"
%main.l-main.box
    .l-product_list
        %section.mypage-tab-container
            %h2.mypage-tab-head 出品した商品
            %ul.listing-tabs
        %section.tabs
            %input#all{checked: "checked", name: "tab_item", type: "radio"}/
            %label.tab_item{for: "all"} 出品中
            %input#programming{name: "tab_item", type: "radio"}/
            %label.tab_item{for: "programming"} 取引中
            %input#design{name: "tab_item", type: "radio"}/
            %label.tab_item{for: "design"} 売却済み
            #all_content.tab_content
                総合の内容がここに入ります
            #programming_content.tab_content
                プログラミングの内容がここに入ります
            #design_content.tab_content
                デザインの内容がここに入ります
        .tab-content
            %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
            %li
                %a.mypage-item-link{:href => "https://www.mercari.com/jp/items/m98749264901/"}
                    %figure
                    %img.is-higher-height.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/thumb/photos/m98749264901_1.jpg?1578032041", :src => "//static.mercdn.net/thumb/photos/m98749264901_1.jpg?1578032041"}/
                .mypage-item-body.show-stock-item
                    .mypage-item-text
                    シューキープ　バック
                    %div
                    %span.listing-item-count
                        %i.icon-like-border
                        %span 0
                    %span.listing-item-count
                        %i.icon-message
                        %span 0
                    .mypage-item-status.bold.awaiting
                        出品中
                %i.icon-arrow-right
    %ul.mypage-history.pager
        %li.pager-prev.pager-cell
        %a{:href => "/jp/mypage/listings/listing/?min_pager_id=5154562106"}
            %i.icon-arrow-left
        %li.pager-next.pager-cell
        %a{:href => "/jp/mypage/listings/listing/?max_pager_id=4908627893"}
            %i.icon-arrow-right
    = render "users/aside"
%aside
    = render "products/top_aside_footer"
%footer
    = render "products/top_footer"


