%body
  -# .single-container
  -#   %header.single-header
  -#     %h1
  -#       %a{:href => "https://www.mercari.com/jp/"}
  -#         %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1398199435"}/

-# .new_create
-#   .single-container
-#     %header 
-#       = render "products/header"

.new-content
  .new-content__main
    %section.new-content__main__inner
      %h2.head 新規会員登録
      %div.registration
        %div.registration__content
          = link_to "/" , class:"btn-mail" do 
            -# メールアドレスで登録
            = icon('far', 'envelope fa-2x',class: "mail")
            メールアドレスで登録
          %button#facebook-login.btn-facebook
            = icon('fab', 'facebook-square fa-2x',class: "facebook")
            Facebookで登録
          %button#google-login.btn-google
            = icon('fab', 'google fa-2x',class: "google")
            Googleで登録
    -# %form#login_form_facebook{:action => "/jp/signup/facebook/", :method => "POST", :novalidate => "novalidate"}
    -#   %input{:name => "__csrf_value", :type => "hidden", :value => "1e4b7aca8d0800517f8ed9bde77e206250932cf791365f0ceb98fe792d820309036ca81271834ab4b55a117700da8081c03e8437f66de38c31981f9227e130244"}/
    -#   %input{:name => "nickname", :type => "hidden", :value => ""}/
    -#   %input{:name => "email", :type => "hidden", :value => ""}/
    -#   %input{:name => "facebook_user_id", :type => "hidden", :value => ""}/
    -#   %input{:name => "facebook_access_token", :type => "hidden", :value => ""}/
    -#   %input{:name => "login_type", :type => "hidden", :value => "facebook"}/
    -# %form#login_form_google{:action => "/jp/signup/google/", :method => "POST", :novalidate => "novalidate"}
    -#   %input{:name => "__csrf_value", :type => "hidden", :value => "1e4b7aca8d0800517f8ed9bde77e206250932cf791365f0ceb98fe792d820309036ca81271834ab4b55a117700da8081c03e8437f66de38c31981f9227e130244"}/
    -#   %input{:name => "nickname", :type => "hidden", :value => ""}/
    -#   %input{:name => "email", :type => "hidden", :value => ""}/
    -#   %input{:name => "google_user_id", :type => "hidden", :value => ""}/
    -#   %input{:name => "google_access_token", :type => "hidden", :value => ""}/
    -#   %input{:name => "login_type", :type => "hidden", :value => "google"}/
    -# %input#google_client_id{:type => "hidden", :value => "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
    -# %input#facebook_app_id{:type => "hidden", :value => "466308336793848"}/
