.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  top: -28;
  top: -30px;

}

.bread-crumbs ul {
  overflow: visible;
  width: 700px;
  margin: 0 auto;
  padding: 16px 0;
  white-space: normal;
  margin-left: 38px;
}

.bread-crumbs li {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bread-crumbs li {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.bread-crumbs .icon-arrow-right {
  margin: 0 8px;
  font-size: 9px;
  color: #888;
}

.bread-crumbs li:last-child {
  font-weight: 600;
}

.bread-crumbs li {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bread-crumbs li {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
}