.single-mains {
  display: block;
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px; 
    .ll-single-container{
      background: #fff;
      width: 700px;
      margin: 0 auto;
      display: block;
      .l-single-head {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        }
        .sell-form {
         border-top: 1px solid #eee;
         display: block;	
        .sell-upload-box {
          width: 620px;
          padding: 40px;
          .sell-upload-head {
            font-size: 16px;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;	
            .form-require {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
               }	
              }
              p {
                margin: 8px 0 0;
                line-height: 1.5;
                font-size:14px;
                }
              .sell-dropbox-container {
                width: 620px;
                margin: 16px auto 0;
                .sell-upload-items-container {
                  display: inline;
                  .sell-upload-items {
                    float: left;
                    display: block;
                    margin-left: 0;
                    ul {
                      display: flex;
                      li{
                        width:120px;
                        .pre{
                          width:120px;
                          .imagepre{
                            height: 140px;
                          }
                        }

                      }
                     }
                    }
                  }
                .sell-upload-drop-box {
                  float: right;
                  padding: 40px;
                  position: relative;
                  min-height: 162px;
                  background: #f5f5f5;
                  border: 1px dashed #ccc;
                  font-size: 0;
                  text-align: center;
                  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
                  cursor: pointer;
                  width: 100%;
                  margin-left: 0;
                    
                  .label-image{
                    float: right;
                    padding: 40px;
                    position: relative;
                    min-height: 162px;
                    background: #f5f5f5;
                    border: 1px dashed #ccc;
                    font-size: 0;
                    text-align: center;
                    transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
                    cursor: pointer;
                    width: 100%;
                    margin-left: 0;
                      
                    
                    input {
                      border: 0;
                      outline: 0;
                      font-family: inherit;
                      -webkit-appearance: none;
                      }
                    }
                    
                  .visible-pc {
                    position: absolute;
                    top: 52%;
                    left: 0px;
                    right: 56px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.5;
                    transform: translate(0, -50%);
                    pointer-events: none;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    display: block;
                    overflow: auto;
                    z-index:1;
                    }
                  .icon-camera {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    font-size: 14px;
                    font-family: 'icon-font';
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    }
                  }
                }
              }
        .sell-content {
          padding: 40px;
          border-top: 1px solid #eee;
          .form-group1 {
            margin: 0;
            label {
              font-weight: 600;
              display: inline-block;
              font-size: 14px;
              .form-require {
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
                 }
              }
            .input-default {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
                }
              }
          .form-group {
            margin: 40px 0 0;
            label {
              font-weight: 600;
              display: inline-block;
              font-size: 14px;
              .form-require {
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
              }
            }
            .textarea-default {
              display: block;
              margin: 8px 0 0;
              width: 100%;
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
              color: inherit;
              font-family: inherit;
              font-style: inherit;
              font-weight: inherit;
             }
           }
          .sell-sub-head {
            float: left;
            color: #888;
            font-size: 14px;
            margin-top:20px;
           }
          .sell-form-box {
            float: right;
            width: 400px;
            margin: 0;
            .form-group1 {
             margin: 0;
              label {
                font-weight: 600;
                display: inline-block;
                font-size: 14px;
                .form-require {
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background: #ea352d;
                }
               }
              .select-wrap {
                margin: 8px 0 0;
                position: relative;
                background: #fff;
                .icon-arrow-bottom {
                  position: absolute;
                  right: 16px;
                  top: 50%;
                  z-index: 2;
                  color: #888;
                  font-size: 8px;
                  }
                .select-default {
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
                   }
                }
              }
            .form-group {
              margin: 40px 0 0;
              label {
                font-weight: 600;
                display: inline-block;
                font-size: 14px;
                .form-require {
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background: #ea352d;
                 }
              }
              .select-wrap {
                margin: 8px 0 0;
                position: relative;
                background: #fff;
                .icon-arrow-bottom {
                  position: absolute;
                  right: 16px;
                  top: 50%;
                  z-index: 2;
                  color: #888;
                  font-size: 8px;
                  }
                .select-default {
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
                     }
                   }    
                  }
                }
            .form-question {
              display: inline-block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background: #0099e8;
              color: #fff;
              line-height: 14px;
              font-size: 12px;
              text-align: center;
              margin-top: 22px;
              margin-left: 8px;
              text-decoration: none;
             }
            .sell-price{
              .form-group{
              padding: 0 0 24px;
              border: 0;
              margin: 0;
               .clearfix{
                .l-left {
                  width: 50%;
                  line-height: 48px;
                  float: left;
                  display: inline-block;
                  }
                .l-right {
                  width: 50%;
                  float: right;
                  text-align: right;
                  div{
                    display: inline-block;
                    width: 80%;
                    margin: 0 0 0 5%;
                    .input-default{
                      margin: 0;
                      text-align: right;
                      width: 100%;
                      height: 48px;
                      padding: 10px 16px 8px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background: #fff;
                      line-height: 1.5;
                      font-size: 16px;
                      }
                    }
                 }
              }
            }
          .clearfix{
            .l-left{
             float: left;
             }
            .l-right{
             float: right;
             }
          }
          .bold{
           font-weight: 600;
           }
         }
       }

        .modal {
          display: none;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 3000;
          overflow-x: hidden;
          overflow-y: auto;
          transition: all ease-out .3s;
          opacity: 0;
          transform: translate(0, -10px);

          .modal-inner {
            max-width: none;
            width: 600px;
            margin: 20px auto;
            position: relative;
            overflow: hidden;
            background: #fff;
          }
        }
        .sell-btn-box{
          div{
             p {
               line-height: 1.5;
               margin-top:0px;
               margin-bottom:0px;
               display: block;
               margin-block-start: 1em;
               margin-block-end: 1em;
               margin-inline-start: 0px;
               margin-inline-end: 0px;
               font-size:14px;
             }
           }
          .btn-red {
            margin: 40px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            }
          .btn-gray{
            width: 45%;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            display: block;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            }						
          }
       	}
     }	
}

.sell-price>li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.have-item-0{
  // -webkit-box-flex: 1;
  float:left;
  width: 480px;
}

.active{
  display:block;
}
.notactive{
  display:none;
}