body {
  background-color: #b3d4fc;
}
section {
  .sr-container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    color: #333;
    &__header {
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
    }
    &__registration-form {
      padding: 40px 40px 64px;
      border-top: 1px solid #f5f5f5;
      &__container {
        width: 343px;
        margin: 0 auto;
        &__content {
          &:first-child {
            margin-top: 0;
          }
          margin-top: 32px;
          .require {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          .default-text {
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            &__half {
              background: #fff;
              line-height: 1.5;
              &__left {
                width: calc(50% - 6px);
                margin: 8px 8px 0 0;
                height: 48px;
                border-radius: 4px;
                padding: 10px 16px 8px;
                border: 1px solid #ccc;
                font-size: 16px;
              }
              &__right {
                width: calc(50% - 6px);
                margin: 8px 0 0;
                height: 48px;
                border-radius: 4px;
                padding: 10px 16px 8px;
                border: 1px solid #ccc;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}