.signup-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0px;
  nav{
    ul {
      font-size: 0px;
      text-align: center;
      li {
        display: inline-block;
        font-size: 12px;
        margin-left: 16px;
        a {
          text-decoration: none;
          color: #333;
        }
        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
  .logo {
    display: block;
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
  p {
    margin: 8px 0 0;
    font-size: 13px;
    color: #333;
    text-align: center;
  }
}
