.wraper {
  width: 1080px;
  margin: 0 auto;
  .top-slide{
    height: 390px;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
    background-color: white;
    .slider img {
      height: 390px;
      width: 100%;
    }
    .arrow-left {
      position: absolute;
      top: 50%;
      left: 10px;
      font-size: 64px;
      color: #fff;
      text-shadow: 2px 2px 2px #f5f5f5, -2px 2px 2px #f5f5f5, 2px -2px 2px #f5f5f5, -2px -2px 2px #f5f5f5, 2px 2px 2px #f5f5f5, -2px 2px 2px #f5f5f5, 2px -2px 2px #f5f5f5, -2px -2px 2px #f5f5f5;
      z-index: 999;
    }
    .arrow-right {
      position: absolute;
      top: 50%;
      right:10px;
      font-size: 64px;
      color: #fff;
      text-shadow: 2px 2px 2px #f5f5f5, -2px 2px 2px #f5f5f5, 2px -2px 2px #f5f5f5, -2px -2px 2px #f5f5f5, 2px 2px 2px #f5f5f5, -2px 2px 2px #f5f5f5, 2px -2px 2px #f5f5f5, -2px -2px 2px #f5f5f5;
      z-index: 999;
    }
  }
  .popular-categorys-header {
    padding: 56px 0px 30px;
    background-color: white;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    top: 0px;
    width: 100vw;
    h2 {
      font-size: 28px;
      margin-bottom: 16px;
      text-align: center;
    }
    &__box {
      display: block;
      text-align: center;
      width: 100%;
      &__container {
        font-size: 0px;
        &__content {
          display: inline-block;
          margin: 10px 0px 0px 10px;
          a {
            text-decoration: none;
            color: rgb(51, 51, 51);
            background-color: rgb(239, 239, 239);
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            border-radius: 15px;
            padding: 8px 16px;
          }
        }
      }
    }
  }
  .popular-categorys-container {
    padding: 42px 0px 100px;
    .item-boxes {
      &__box {
        &:not(:first-child) {
          margin-top: 60px;
        }
        &__header {
          display: flex;
          justify-content: space-between;
          padding: 0 10px;
          h3 {
            font-size: 24px;
          }
          a {
            display: block;
            text-decoration: none;
            color: rgb(0, 149, 238);
            font-size: 14px;
          }
        }
        &__main {
          &__container {
            display: flex;
            flex-wrap: wrap;
            &__content {
              display: list-item;
              display: inline-block;
              height: 272px;
              width: 19%;
              padding: 10px;
              list-style:none;
              .inner-item-box {
                display: block;
                height: 252px;
                width: 100%;
                box-shadow: 0 2px 4px rgba(0,0,0,.18);
                background-color: white;
                &:hover {
                  border: rebeccapurple 1px solid;
                }
                &__container {
                  &__img-box {
                    position: relative;
                    &__price {
                      position: absolute;
                      color: white;
                      background: rgba(0,0,0,.4);
                      border-radius: 0 14px 14px 0;
                      bottom: 8px;
                      font-size: 17px;
                      padding: 0 12px;
                      height: 28px;
                      line-height: 28px;
                      top: 150px;
                    }
                    &__img {
                      width: 100%;
                      height: 188px;
                      background-color: skyblue
                    }
                  }
                  &__caption {
                    padding: 10px 12px;
                    height: 64px;
                    color: #222;
                    background-color:white;
                    &__text {
                      display: inline-block;;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}