%nav.bread-crumbs
  = breadcrumbs pretext: '', separator: ' &rsaquo; ', class: 'breadcrumbs-list'

-# %ul
-#   %li
-#     =link_to "/"  do
-#       %span メルカリ
-#     %i.icon-arrow-right
-#   %li
-#     =link_to "/"  do
-#       %span 