.single-container
  %header 
    = render "products/header"


  .buy-main
    .buy-main__content

      .buy-main__content__text

        - @parents.each do |parent|
          =parent.name
        -# %p
        -# - @childrens.children.each do |c|
        -#   =c.name
        %p
        - @childrens.each do |c|
          =c.name

        %p
        - @gchildrens.each do |d|
          =d.name

  %footer.single-footer
    = render "products/footer"
