

.l-container
  %main.trade
    %div.trade__content
      %section.trade__content__container
        .trade__content__container__text
          取引画面
        %div.trade__content__container__attention
          %h3
            = icon('fa', 'laugh')
            %span 取引が完了しました
          %p ありがとうございました
